<div class="col-md-12 p0 EmployeeReview">
    <div>
        <table class="table table-bordered" >
            <thead class="alert alert-dark" style="text-align:center;">
              <tr >
                <th>Employee Name</th>
                <th >Id</th>
                <th class="Degisignation">Degisignation</th>
                <th class="Department" >Department</th>
                <th >No of Goals</th>
                <th >Completed%</th>
                <th >9-Grid Score</th>
                <th >Reviwer</th>
                <th >Last Promotion Date</th>
                <th >Happiness%</th>
                <th class="action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>

               <button class="btn btn-primary btnMoment">On The Moment</button>
               <button class="btn btn-primary btnSubmit">Submit</button>
              </tr>
            </tbody>
          </table>
          <table class="table  tblemp">
            <thead class="table-bordered">
              <tr >
                <th scope="col">Performance Goals
                </th>
                <button class="btn btn-primary btnExpand">Expand Goals</button>

                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-bordered">
              <tr >
                <td >Financial
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</button>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div>
                      </div>
                </td>
                <td ></td>
                <td></td>
              </tr>
              <tr>
                <td>Operatinal
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 80px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Customer
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Learning and Growth
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr class="tblrow">
                <td>Other
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <thead class="table-bordered">
                <tr >
                  <th scope="col">Behavioural Goals</th>
                <button class="btn btn-primary btnExpand">Expand Goals</button>

                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="table-bordered">
                <tr>
                  <td>Financial
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Operatinal
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Customer
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Learning and Growth
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Other
                    <div class="divFinancial">
                        <label style="color: rgb(248, 176, 22);margin: 6px">Weight: </label>
                        <input type="text" style="width: 90px; margin: 3px;" >
                        <div class="txt"></div>
                        <div class="divObjectives col-md-4">Total Objectives:</div>
                        <div class="txt"></div>
                        <div class="divProgress col-md-4">Progresses:</div>
                        <div class="txt"></div>
                        <button class="btnPlus">+</button>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
          </table>
    </div>

</div>